@{
    ViewData["Title"] = "Dados de contato";
}
<p><h1>@ViewData["Title"]</h1></p>

<p><b>Karolina Gomes Bento</b></p>
<p><b>E-mail: </b><a href="mailto:karolina_bp@hotmail.com">karolina_bp@hotmail.com</a></p>
<p><b>LinkedIn: </b><a href="https://www.linkedin.com/in/karolinabento/">https://www.linkedin.com/in/karolinabento/</a></p>
<p><b>GitHub: </b><a href="https://github.com/karolinagb">https://github.com/karolinagb</a></p>
<p><b>Currículo(PDF): </b><a href="https://drive.google.com/file/d/1Iz_YD0JIB0BEV2jmdFIMXQFsjkvZoRue/view?usp=sharing">https://drive.google.com/</a></p>
